/* Resetting styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
}

/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Title styles */
.title {
  font-size: 60px;
  color: #776e65;
  margin-bottom: 20px;
  text-transform: uppercase;
}

/* Theme toggle styles */
.theme-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.theme-toggle button {
  background-color: #4f6666;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-toggle button:hover {
  background-color: #53b5cd;
}

/* New game button styles */
.restart-button {
  background-color: #8f7a66;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.restart-button:hover {
  background-color: #a3927a;
}

/* Score container styles */
.score-container {
  background-color: #bbada0;
  color: #ffffff;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}

.score-title {
  font-size: 20px;
  margin-right: 10px;
}

#score {
  font-size: 24px;
}

/* Grid styles */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
  background-color: #bbada0;
  border-radius: 5px;
  padding: 10px;
}

.grid div {
  background-color: #cdc1b4;
  color: #776e65;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.grid div:hover {
  background-color: #d4c0a5;
}

/* Game over and win styles */
.game-over, .win {
  display: none;
  font-size: 36px;
  font-weight: bold;
  color: #776e65;
  margin-top: 20px;
}

/* Dark theme styles */
.dark-theme {
  background-color: #1e272e;
  color: #ffffff;
}

.dark-theme .container {
  background-color: #2c3e50;
}

.dark-theme .instructions,
.dark-theme .score-container,
.dark-theme .grid div {
  background-color: #34495e;
}

.dark-theme .restart-button {
  background-color: #4a69bd;
}

.dark-theme .restart-button:hover {
  background-color: #5c7cfa;
}
